<div id="wrapper">
  <nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
      <!-- MENU -->
      <app-sidebar-navigation></app-sidebar-navigation>
    </div>
  </nav>

  <div id="page-wrapper" class="gray-bg">
    <!-- NOTIFICACIONES -->
    <app-header></app-header>

    <div class="wrapper wrapper-content animated fadeInRight">
      <div class="row">
        <div class="col-lg-12">
          <!-- CONTENIDO -->
          <p>Home works</p>
          <div class="alert alert-success">
            How quickly daft jumping zebras vex. <a class="alert-link" href="#">Alert Link</a>.
          </div>
        </div>
      </div>
    </div>
    <div class="footer">
      <div class="float-right">
        SALES ASSISTANT CLOUD
      </div>
      <div>
        <strong>Copyright</strong> SISOF &copy; 2019
      </div>
    </div>
  </div>
  <!-- CHATS -->
  <app-footer></app-footer>
</div>